#ArticleTitle{
    font-weight: 600;
    font-size: 6vh;
}

#share-buttons img {
    width: 35px;
    padding: 2px;
    display: inline;
}

#backToNews{
    color: white;
}

#backToNews:hover{
    cursor: pointer;
}

.date{
    margin-top: 1vh;
}

.picture {
    max-width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: #EEEEEE;
    border: 1px solid #E8E8E8;
    margin-bottom: 10px;
}

.paragraph{
    margin-top: 6vh;
}

.note{
    font-style: italic;
    color: #666;
    text-indent: 2em;
}

/*To Top Button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #f43a3e;
    cursor: pointer;
    padding: 2vw;
    border-radius: 4px;
}

#myBtn:hover {
    color: #ffd520;
}

@media screen and (max-width: 800px) {
    #myBtn{
        bottom: -50%;
    }
}
